.inputWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

  }
  
  .label {
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: 500;
  }
  
  .inputField {
    padding: 0.5rem 1rem;
    border: 1px solid black; 
    border-radius: 6px;
    margin: 0.5rem 0;
    font-size: 1rem;
    

    background: rgba(219, 217, 217, 0.733);

    box-shadow: 0px 0px 11.976px 5.988px rgb(255, 255, 255) inset;

  

  }
  
  .marginLeft {
    margin-left: 2.25rem; 
  }
  